<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wallpaperchanger</string>
    <key>ProgramArguments</key>
    <array>
		<string>/usr/local/bin/wallpaperchanger.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>300</integer>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
